<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>QA Board Detail Test</h1>
    <article>
        <h2><a href="{{board_detail.get_absolute_url}}">{{board_detail.title}}</a></h2>
        <h3>작성자: {{board_detail.author}}</h3>
        <ul>
            <li>작성일: {{board_detail.created_at}}</li>
            <li>최종수정일: {{board_detail.updated_at}}</li>
        </ul>
    </article>
</body>
</html>